# Decision Trees - Classification

## 1. Installation

We use Anaconda to install Jupyter Lab

- [Link to Anaconda](https://www.anaconda.com/download/)

- [Link to Jupyter](https://jupyter.org/)

## 2. Training Decision Tree

### Step 1: Import and Clean Data

In [20]:
# import some packages
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import metrics

In [21]:
# Import the data
df = pd.read_csv('titanic.csv')

In [22]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [23]:
# Check the variables
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [24]:
# Assign input variables
X = df.loc[:,['Pclass','Sex','Age','Fare','Embarked','SibSp','Parch']]

# Assign target variable
y = df['Survived']

In [25]:
X.dtypes

Pclass        int64
Sex          object
Age         float64
Fare        float64
Embarked     object
SibSp         int64
Parch         int64
dtype: object

In [26]:
# Change Pclass to categorical variable
X['Pclass'] = X['Pclass'].astype(object)

### Step 2: Check and handle missing values

In [27]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [28]:
# Replace missing values by the median
X["Age"] = X["Age"].fillna(X["Age"].median())

# Impute the Embarked variable
X["Embarked"] = X["Embarked"].fillna("S")

In [29]:
X

    Pclass     Sex   Age     Fare Embarked  SibSp  Parch
0        3    male  22.0   7.2500        S      1      0
1        1  female  38.0  71.2833        C      1      0
2        3  female  26.0   7.9250        S      0      0
3        1  female  35.0  53.1000        S      1      0
4        3    male  35.0   8.0500        S      0      0
..     ...     ...   ...      ...      ...    ...    ...
886      2    male  27.0  13.0000        S      0      0
887      1  female  19.0  30.0000        S      0      0
888      3  female  28.0  23.4500        S      1      2
889      1    male  26.0  30.0000        C      0      0
890      3    male  32.0   7.7500        Q      0      0

[891 rows x 7 columns]

In [30]:
pd.get_dummies(X)

,Age,Fare,SibSp,Parch,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,22.0,7.2500,1,0,False,False,True,False,True,False,False,True
1,38.0,71.2833,1,0,True,False,False,True,False,True,False,False
2,26.0,7.9250,0,0,False,False,True,True,False,False,False,True
3,35.0,53.1000,1,0,True,False,False,True,False,False,False,True
4,35.0,8.0500,0,0,False,False,True,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
886,27.0,13.0000,0,0,False,True,False,False,True,False,False,True
887,19.0,30.0000,0,0,True,False,False,True,False,False,False,True
888,28.0,23.4500,1,2,False,False,True,True,False,False,False,True
889,26.0,30.0000,0,0,True,False,False,False,True,True,False,False
890,32.0,7.7500,0,0,False,False,True,False,True,False,True,False

### Step 3: Encode Categorical Variables

In [15]:
# Encode categorical variable
X = pd.get_dummies(X)

### Step 4: Split the data into training and testing

In [17]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.15)

### Step 5: Train a model

In [31]:
# Create a decision tree and train
from sklearn.tree import DecisionTreeClassifier

tree1 = DecisionTreeClassifier(criterion='gini', max_leaf_nodes=5)
tree1.fit(x_train, y_train)

DecisionTreeClassifier(max_leaf_nodes=5)

In [32]:
from sklearn import tree

import graphviz 

dot_data = tree.export_graphviz(tree1, out_file=None) 
dot_data = tree.export_graphviz(tree1, out_file=None, 
                     feature_names=x_train.columns,  
                     class_names=['Not Survived','Survived'],  
                     filled=True, rounded=True,  
                     special_characters=True)  

graph = graphviz.Source(dot_data)  

graph