## Building a recommendation system with KNN

This assignment asks you to build a recommendation system for a class of items of your own choice. You can do this assigment in group of no more than five. Following the steps to complete the assignment. Record your presentation and submit it to Canvas.

### Step 1.  Collecting the data

- Decide items you want to the system to recommend.  For examples: (math) courses at Bryant, books, movies...

- List all the items that you can collect the ratings.  For example, list all the (math) courses, books or movies then collect ratings for the items. You can ask your friends to rate your items (ask them how much you like the item?). For convenience, The rating should be from 0 to 10. 

- Try to not have missing ratings. 

- The more items (rows) the better, the more ratings (columns). You should have at least 10 rows and 15 columns for the data. 

### Step 2.  Build a recommendation system

- Use the below code to build a recommendation system with KNN
    
### Step 3. Maintain and update your system

- Add a few rows or columns to your current data and retrain the system. Notice that the more data you have the better your system becomes.  
    
### Step 4.  Present your result. 

- Describe how you collect your data. Show your data. 

- Show some recommendations of the system.  Compare how the system before and after you update the data.

---

## Book Recommendations

The below codes build a recommendation system to recommend book based on a book a given book. The data can be downloaded at [this link.](https://bryantstats.github.io/math460/python/books_rating.csv)

In [1]:
import pandas as pd
df = pd.read_csv('books_rating.csv', index_col=0)
df.head(10)

,254,2276,2766,2977,3363,4017,4385,6242,6251,6323,...,271448,271705,273979,274061,274308,274808,275970,277427,277639,278418
bookTitle,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Case of Need,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0
"A Child Called \It\"": One Child's Courage to Survive""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Civil Action,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Cry In The Night,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors()
model_knn.fit(df)

book_title = 'Night'
number_of_recommendation = 6

distances, indices = model_knn.kneighbors(df.loc[book_title, :].values.reshape(1, -1),
n_neighbors=number_of_recommendation)

print('Recommendations for', book_title)
for i in range(1, number_of_recommendation):
    print('{0}: {1}, with distance of {2}:'.format(i, df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Night
1: Exclusive, with distance of 35.77708763999664:
2: Degree of Guilt, with distance of 36.138621999185304:
3: The Cradle Will Fall, with distance of 37.067505985701274:
4: Before I Say Good-Bye, with distance of 38.58756276314948:
5: The Long Road Home, with distance of 38.600518131237564:

C:\Users\snguyen4\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(